<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      Your Question: <%= @question %>
    </div>
    <div class="card-body">
      <p class="card-text">
      Coach's Answer: <%= @answer %>
      <br> - Your Coach</p>
    </div>
  </div>
  <%= link_to "Ask a new question", ask_path, class: "btn btn-primary mt-3" %>
</div>
